Pivotal - HIP/Services/WebServiceTester/Web References/QAServiceTest/TICPivotalQAServiceSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/TICPivotalQAService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/TICPivotalQAService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/TICPivotalQAService">
      <s:element name="AuthenticateUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordHash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserLoginResult" type="tns:InspectorObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InspectorObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="contactHexId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middle_Initial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="impersUsers" type="tns:ArrayOfInspectorObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInspectorObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InspectorObj" nillable="true" type="tns:InspectorObj" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPivotalMD5MessageDigest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plainTextPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPivotalMD5MessageDigestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPivotalMD5MessageDigestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledInspectionsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledInspectionsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledInspectionsForUserResult" type="tns:ScheduledInspectionWrapper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScheduledInspectionWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="filterWrapper" type="tns:FilterWrapper" />
          <s:element minOccurs="0" maxOccurs="1" name="scheduledInspections" type="tns:ArrayOfScheduledInspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FilterWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projFilter" type="tns:ArrayOfProjectFilter" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseFilter" type="tns:ArrayOfPhaseFilter" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTypeFilter" type="tns:ArrayOfInspectionTypeFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectFilter" nillable="true" type="tns:ProjectFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhaseFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhaseFilter" nillable="true" type="tns:PhaseFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhaseFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhaseName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInspectionTypeFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InspectionTypeFilter" nillable="true" type="tns:InspectionTypeFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InspectionTypeFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InspectionType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScheduledInspection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScheduledInspection" nillable="true" type="tns:ScheduledInspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScheduledInspection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="scheduledInspectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lotRecord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scheduledDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="baseLineDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="workflowStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInspectionsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInspectionsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInspectionsForUserResult" type="tns:InspectionWrapper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InspectionWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="filterWrapper" type="tns:FilterWrapper" />
          <s:element minOccurs="0" maxOccurs="1" name="inspections" type="tns:ArrayOfInspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInspection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Inspection" nillable="true" type="tns:Inspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Inspection" />
      <s:element name="CreateNewInspection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scheduledInspectionIds" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNewInspectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewInspectionResult" type="tns:InspectionTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InspectionTemplate" />
      <s:element name="ApplyInspection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inspection" type="tns:Inspection" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="tns:ActionForInspection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ActionForInspection">
        <s:restriction base="s:string">
          <s:enumeration value="Save" />
          <s:enumeration value="CreateNew" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Approve" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ApplyInspectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="TestDAL">
        <s:complexType />
      </s:element>
      <s:element name="TestDALResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestDALResult" type="tns:InspectorObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUserLogin" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetPivotalMD5MessageDigestSoapIn">
    <wsdl:part name="parameters" element="tns:GetPivotalMD5MessageDigest" />
  </wsdl:message>
  <wsdl:message name="GetPivotalMD5MessageDigestSoapOut">
    <wsdl:part name="parameters" element="tns:GetPivotalMD5MessageDigestResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledInspectionsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledInspectionsForUser" />
  </wsdl:message>
  <wsdl:message name="GetScheduledInspectionsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledInspectionsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetInspectionsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetInspectionsForUser" />
  </wsdl:message>
  <wsdl:message name="GetInspectionsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetInspectionsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewInspectionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewInspection" />
  </wsdl:message>
  <wsdl:message name="CreateNewInspectionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="ApplyInspectionSoapIn">
    <wsdl:part name="parameters" element="tns:ApplyInspection" />
  </wsdl:message>
  <wsdl:message name="ApplyInspectionSoapOut">
    <wsdl:part name="parameters" element="tns:ApplyInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="TestDALSoapIn">
    <wsdl:part name="parameters" element="tns:TestDAL" />
  </wsdl:message>
  <wsdl:message name="TestDALSoapOut">
    <wsdl:part name="parameters" element="tns:TestDALResponse" />
  </wsdl:message>
  <wsdl:portType name="TICPivotalQAServiceSvcSoap">
    <wsdl:operation name="AuthenticateUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called from QA Website to authenticate user against the Contact's Web Detail record.</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateUserLoginSoapIn" />
      <wsdl:output message="tns:AuthenticateUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPivotalMD5MessageDigest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to get encrypted password for user authentication.</wsdl:documentation>
      <wsdl:input message="tns:GetPivotalMD5MessageDigestSoapIn" />
      <wsdl:output message="tns:GetPivotalMD5MessageDigestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledInspectionsForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to get a list of scheduled inspections by user's company.</wsdl:documentation>
      <wsdl:input message="tns:GetScheduledInspectionsForUserSoapIn" />
      <wsdl:output message="tns:GetScheduledInspectionsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInspectionsForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to get a list of actual inspections assigned to the userlogin.</wsdl:documentation>
      <wsdl:input message="tns:GetInspectionsForUserSoapIn" />
      <wsdl:output message="tns:GetInspectionsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewInspection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to start a new inspection.</wsdl:documentation>
      <wsdl:input message="tns:CreateNewInspectionSoapIn" />
      <wsdl:output message="tns:CreateNewInspectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplyInspection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to interact with Pivotal DB.</wsdl:documentation>
      <wsdl:input message="tns:ApplyInspectionSoapIn" />
      <wsdl:output message="tns:ApplyInspectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestDAL">
      <wsdl:input message="tns:TestDALSoapIn" />
      <wsdl:output message="tns:TestDALSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TICPivotalQAServiceSvcSoap" type="tns:TICPivotalQAServiceSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUserLogin">
      <soap:operation soapAction="http://tempuri.org/TICPivotalQAService/AuthenticateUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPivotalMD5MessageDigest">
      <soap:operation soapAction="http://tempuri.org/TICPivotalQAService/GetPivotalMD5MessageDigest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledInspectionsForUser">
      <soap:operation soapAction="http://tempuri.org/TICPivotalQAService/GetScheduledInspectionsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionsForUser">
      <soap:operation soapAction="http://tempuri.org/TICPivotalQAService/GetInspectionsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewInspection">
      <soap:operation soapAction="http://tempuri.org/TICPivotalQAService/CreateNewInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyInspection">
      <soap:operation soapAction="http://tempuri.org/TICPivotalQAService/ApplyInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDAL">
      <soap:operation soapAction="http://tempuri.org/TICPivotalQAService/TestDAL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TICPivotalQAServiceSvcSoap12" type="tns:TICPivotalQAServiceSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUserLogin">
      <soap12:operation soapAction="http://tempuri.org/TICPivotalQAService/AuthenticateUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPivotalMD5MessageDigest">
      <soap12:operation soapAction="http://tempuri.org/TICPivotalQAService/GetPivotalMD5MessageDigest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledInspectionsForUser">
      <soap12:operation soapAction="http://tempuri.org/TICPivotalQAService/GetScheduledInspectionsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionsForUser">
      <soap12:operation soapAction="http://tempuri.org/TICPivotalQAService/GetInspectionsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewInspection">
      <soap12:operation soapAction="http://tempuri.org/TICPivotalQAService/CreateNewInspection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyInspection">
      <soap12:operation soapAction="http://tempuri.org/TICPivotalQAService/ApplyInspection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDAL">
      <soap12:operation soapAction="http://tempuri.org/TICPivotalQAService/TestDAL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TICPivotalQAServiceSvc">
    <wsdl:port name="TICPivotalQAServiceSvcSoap" binding="tns:TICPivotalQAServiceSvcSoap">
      <soap:address location="http://localhost/QA/TICPivotalQAServiceSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="TICPivotalQAServiceSvcSoap12" binding="tns:TICPivotalQAServiceSvcSoap12">
      <soap12:address location="http://localhost/QA/TICPivotalQAServiceSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>