Pivotal - HIP/Webservices/WebServiceTester/Web References/com.irvineco.corp.nbcddpvtl20/TICPivotalQAServiceSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IrvinePacific/QA/TICPivotalQAService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://IrvinePacific/QA/TICPivotalQAService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://IrvinePacific/QA/TICPivotalQAService">
      <s:element name="AuthenticateUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordHash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserLoginResult" type="tns:UserObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="contactHexId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Middle_Initial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passwordHash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="impersUsers" type="tns:ArrayOfUserObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserObj" nillable="true" type="tns:UserObj" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPivotalMD5MessageDigest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plainTextPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPivotalMD5MessageDigestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPivotalMD5MessageDigestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledInspectionsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledInspectionsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledInspectionsForUserResult" type="tns:ScheduledInspectionWrapper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScheduledInspectionWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="filterWrapper" type="tns:FilterWrapper" />
          <s:element minOccurs="0" maxOccurs="1" name="scheduledInspections" type="tns:ArrayOfScheduledInspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FilterWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projFilter" type="tns:ArrayOfProjectFilter" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseFilter" type="tns:ArrayOfPhaseFilter" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTypeFilter" type="tns:ArrayOfInspectionTypeFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectFilter" nillable="true" type="tns:ProjectFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionScope" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhaseFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhaseFilter" nillable="true" type="tns:PhaseFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhaseFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhaseName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInspectionTypeFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InspectionTypeFilter" nillable="true" type="tns:InspectionTypeFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InspectionTypeFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InspectionType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScheduledInspection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScheduledInspection" nillable="true" type="tns:ScheduledInspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScheduledInspection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="scheduledInspectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lotRecord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scheduledDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="baseLineDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="workflowStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInspectionsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInspectionsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInspectionsForUserResult" type="tns:InspectionWrapper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InspectionWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="filterWrapper" type="tns:FilterWrapper" />
          <s:element minOccurs="0" maxOccurs="1" name="inspections" type="tns:ArrayOfInspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInspection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Inspection" nillable="true" type="tns:Inspection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Inspection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTemplateId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTemplateName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scheduledDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectedDateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="supervisorId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="supervisorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="createdById" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="createdByName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signOffUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signOffUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reinspectionDueDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reinspectionCompleteDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reinspectionSignOffUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reinspectionSignOffUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="escalationSignOffUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="escalationSignOffUserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="correctiveActionRequired" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionNotes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="templateVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionScope" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectorId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionItems" type="tns:ArrayOfInspectionItem" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectedScopeItems" type="tns:ArrayOfInspectedScopeItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInspectionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InspectionItem" nillable="true" type="tns:InspectionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InspectionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="itemDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="workingNotes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionItemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="categoryDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="categoryOrdinal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="itemOrdinal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="isAcknowledged" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInspectedScopeItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InspectedScopeItem" nillable="true" type="tns:InspectedScopeItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InspectedScopeItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="inspectedScopeItemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scopeItemNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inspectionScope" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="units" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNewInspection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phaseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inspectionTypeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inspectionScope" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdById" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inspectorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selectedScopeItems" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewInspectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewInspectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInspectionById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inspectionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadInspectionByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadInspectionByIdResult" type="tns:Inspection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyInspection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inspection" type="tns:Inspection" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="tns:ActionForInspection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ActionForInspection">
        <s:restriction base="s:string">
          <s:enumeration value="Save" />
          <s:enumeration value="CreateNew" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Approve" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ApplyInspectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="TestHarness">
        <s:complexType />
      </s:element>
      <s:element name="TestHarnessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestHarnessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUserLogin" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetPivotalMD5MessageDigestSoapIn">
    <wsdl:part name="parameters" element="tns:GetPivotalMD5MessageDigest" />
  </wsdl:message>
  <wsdl:message name="GetPivotalMD5MessageDigestSoapOut">
    <wsdl:part name="parameters" element="tns:GetPivotalMD5MessageDigestResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledInspectionsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledInspectionsForUser" />
  </wsdl:message>
  <wsdl:message name="GetScheduledInspectionsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledInspectionsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetInspectionsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetInspectionsForUser" />
  </wsdl:message>
  <wsdl:message name="GetInspectionsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetInspectionsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewInspectionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewInspection" />
  </wsdl:message>
  <wsdl:message name="CreateNewInspectionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="LoadInspectionByIdSoapIn">
    <wsdl:part name="parameters" element="tns:LoadInspectionById" />
  </wsdl:message>
  <wsdl:message name="LoadInspectionByIdSoapOut">
    <wsdl:part name="parameters" element="tns:LoadInspectionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ApplyInspectionSoapIn">
    <wsdl:part name="parameters" element="tns:ApplyInspection" />
  </wsdl:message>
  <wsdl:message name="ApplyInspectionSoapOut">
    <wsdl:part name="parameters" element="tns:ApplyInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="TestHarnessSoapIn">
    <wsdl:part name="parameters" element="tns:TestHarness" />
  </wsdl:message>
  <wsdl:message name="TestHarnessSoapOut">
    <wsdl:part name="parameters" element="tns:TestHarnessResponse" />
  </wsdl:message>
  <wsdl:portType name="TICPivotalQAServiceSvcSoap">
    <wsdl:operation name="AuthenticateUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called from QA Website to authenticate user against the Contact's Web Detail record.</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateUserLoginSoapIn" />
      <wsdl:output message="tns:AuthenticateUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPivotalMD5MessageDigest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to get encrypted password for user authentication.</wsdl:documentation>
      <wsdl:input message="tns:GetPivotalMD5MessageDigestSoapIn" />
      <wsdl:output message="tns:GetPivotalMD5MessageDigestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledInspectionsForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to get a list of scheduled inspections by user's company.</wsdl:documentation>
      <wsdl:input message="tns:GetScheduledInspectionsForUserSoapIn" />
      <wsdl:output message="tns:GetScheduledInspectionsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInspectionsForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to get a list of actual inspections assigned to the userlogin.</wsdl:documentation>
      <wsdl:input message="tns:GetInspectionsForUserSoapIn" />
      <wsdl:output message="tns:GetInspectionsForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewInspection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to start a new inspection.</wsdl:documentation>
      <wsdl:input message="tns:CreateNewInspectionSoapIn" />
      <wsdl:output message="tns:CreateNewInspectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadInspectionById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loads the inspection record with secondary data.</wsdl:documentation>
      <wsdl:input message="tns:LoadInspectionByIdSoapIn" />
      <wsdl:output message="tns:LoadInspectionByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplyInspection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Called by QA Website to interact with Pivotal DB.</wsdl:documentation>
      <wsdl:input message="tns:ApplyInspectionSoapIn" />
      <wsdl:output message="tns:ApplyInspectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestHarness">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Test harness...</wsdl:documentation>
      <wsdl:input message="tns:TestHarnessSoapIn" />
      <wsdl:output message="tns:TestHarnessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TICPivotalQAServiceSvcSoap" type="tns:TICPivotalQAServiceSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUserLogin">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/AuthenticateUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPivotalMD5MessageDigest">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/GetPivotalMD5MessageDigest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledInspectionsForUser">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/GetScheduledInspectionsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionsForUser">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/GetInspectionsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewInspection">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/CreateNewInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInspectionById">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/LoadInspectionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyInspection">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/ApplyInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestHarness">
      <soap:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/TestHarness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TICPivotalQAServiceSvcSoap12" type="tns:TICPivotalQAServiceSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUserLogin">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/AuthenticateUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPivotalMD5MessageDigest">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/GetPivotalMD5MessageDigest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledInspectionsForUser">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/GetScheduledInspectionsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionsForUser">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/GetInspectionsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewInspection">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/CreateNewInspection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInspectionById">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/LoadInspectionById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyInspection">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/ApplyInspection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestHarness">
      <soap12:operation soapAction="http://IrvinePacific/QA/TICPivotalQAService/TestHarness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TICPivotalQAServiceSvc">
    <wsdl:port name="TICPivotalQAServiceSvcSoap" binding="tns:TICPivotalQAServiceSvcSoap">
      <soap:address location="http://nbcddpvtl20.corp.irvineco.com/QAService/TICPivotalQAServiceSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="TICPivotalQAServiceSvcSoap12" binding="tns:TICPivotalQAServiceSvcSoap12">
      <soap12:address location="http://nbcddpvtl20.corp.irvineco.com/QAService/TICPivotalQAServiceSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>